
<li class="nav-item">
    <a class="nav-link collapsed" asp-area="" asp-controller="Home" asp-action="Index" target="_blank">Siteye Git</a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Ana Sayfa</a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" asp-area="Admin" asp-controller="Categories" asp-action="Index">Kategoriler</a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" asp-area="Admin" asp-controller="Authors" asp-action="Index">Yazarlar</a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" asp-area="Admin" asp-controller="Books" asp-action="Index">Kitaplar</a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" asp-area="Admin" asp-controller="Users" asp-action="Index">Kullanýcýlar</a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" asp-area="Admin" asp-controller="Roles" asp-action="Index">Roller</a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" asp-area="Admin" asp-controller="Roles" asp-action="RoleAssignment">Rol Atama</a>
</li>

