<footer class="text-center text-lg-start  mt-xl-5 pt-4 bg-dark">
    <!-- Grid container -->
    <div class="container p-4 footer-grids">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5 class="text-uppercase text-white mb-4 ">Sayfalar</h5>

                <ul class="list-group list mb-4 pages-list">
                    <li>
                        <a href="#!" class="text-white">Ana Sayfa</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Ürünler</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Hakkımızda</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">İletişim</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5 class="text-uppercase mb-4 text-white">KATEGORİLER</h5>

                <ul class="list-unstyled pages-list">
                    <li>
                        <a href="#!" class="text-white">Masa ve Sandalyeler</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Koltuk Takımları</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Oturma Odası</a>
                    </li>

                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 text-white">
                <h5 class="text-uppercase  mb-4">İLETİŞİM</h5>

                <P>
                    <div>
                        Kuloğlu Mh., Barbaros Blv.
                    </div>
                    <div>
                        Yıldız İş Hanı No:9, 34353
                    </div>
                    <div>
                        Beşiktaş/İstanbul
                    </div>
                </P>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 text-white">
                <h5 class="text-uppercase mb-4">Abone ol</h5>

                <div class="form-outline form-white mb-4">
                    <input type="email" id="form5Example2" class="form-control" value="E-mail" />
                </div>

                <button type="submit" class="btn btn-light btn-block ">Abone ol</button>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3 border-top copyright">
        © 2023 Copyright:
        <a class="text-white" href="#">UlasDurmus</a>
    </div>
    <!-- Copyright -->
</footer>
