<nav class="navbar navbar-expand-lg bg-dark  ">
    <div class="container-fluid w-100 ">
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center " id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active text-white" aria-current="page" href="/index.html">Ana Sayfa</a>
                <a class="nav-link" href="/product.html">Ürünler</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle categories" href="#" role="button"
                       data-bs-toggle="dropdown">
                        Kategoriler
                    </a>
                    <ul class="dropdown-menu bg-dark ">
                        <li><a class="dropdown-item" href="#">Masa ve Sandalyeler</a></li>
                        <li><a class="dropdown-item" href="#">Koltuk Takýmlarý</a></li>
                        <li><a class="dropdown-item" href="#">Oturma Odasý</a></li>
                    </ul>
                </li>
                <a class="nav-link" href="/about.html">Hakkýmýzda</a>
                <a class="nav-link " href="/contact.html">Ýletiþim</a>

            </div>
        </div>

    </div>
</nav>
