<div class="container-fluid services py-3 mt-3">
    <div class="container p-5 ">
        <div class="row g-5 text-center services-card justify-content-between">
            <div class="col-sm-3">
                <i class="fa-solid fa-credit-card"></i>
                <h4>Credit Card</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consectetur, veniam unde vero
                    odit
                    temporibus
                </p>
                <button class="btn btn-lg btn-outline-dark">Details</button>
            </div>
            <div class="col-sm-3  services-card ">
                <i class="fa-solid fa-credit-card "></i>
                <h4>Credit Card</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consectetur, veniam unde vero
                    odit
                    temporibus
                </p>
                <button class="btn btn-lg btn-outline-dark">Details</button>
            </div>
            <div class="col-sm-3  services-card ">
                <i class="fa-solid fa-credit-card "></i>
                <h4>Credit Card</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consectetur, veniam unde vero
                    odit
                    temporibus
                </p>
                <button class="btn btn-lg btn-outline-dark">Details</button>
            </div>
        </div>
    </div>
</div>
