<div class="text-end icons">
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-light">
                <i class="fa fa-shopping-cart"></i><span class="ms-2 d-none d-sm-inline-block">Admin Paneli</span>
            </a>
        }
        <a href="" class="btn btn-light">
            <i class="fa fa-heart"></i><span class="ms-2 d-none d-sm-inline-block">Listem</span>
        </a>
        <a asp-area="" asp-controller="Cart" asp-action="Index" class="btn btn-light">
            <i class="fa fa-shopping-cart"></i><span class="ms-2 d-none d-sm-inline-block">Sepetim</span>
        </a>
        <a asp-area="" asp-controller="Account" asp-action="Manage" asp-route-id="@User.Identity.Name" class="btn btn-light">
            <i class="fa fa-user"></i><span class="ms-2 d-none d-sm-inline-block">Hesabım</span>
        </a>
        <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-light">
            <i class="fa fa-user"></i><span class="ms-2 d-none d-sm-inline-block">Çıkış Yap</span>
        </a>

    }
    else
    {
        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-light">
            <i class="fa fa-user"></i><span class="ms-2 d-none d-sm-inline-block">Giriş Yap</span>
        </a>
        <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-light">
            <i class="fa fa-user"></i><span class="ms-2 d-none d-sm-inline-block">Kayıt Ol</span>
        </a>
    }



</div>