@model UserUpdateViewModel
<h1 class="display-6 mt-2">Kullanıcı Bilgileri Güncelleme</h1>
<hr />

<form asp-area="Admin"
      asp-controller="Users"
      asp-action="Edit"
      method="post">
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label" asp-for="FirstName"></label>
                        <input class="form-control" asp-for="FirstName">
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="LastName"></label>
                        <input class="form-control" asp-for="LastName">
                        <span class="text-danger" asp-validation-for="LastName"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="UserName"></label>
                        <input class="form-control" asp-for="UserName">
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Email"></label>
                        <input class="form-control" asp-for="Email">
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" asp-for="EmailConfirmed">
                        <label class="form-check-label" asp-for="EmailConfirmed"></label>
                    </div>

                </div>
                <div class="col">
                    @*Burası gerekirse diye silmiyoruz*@
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Değişiklikleri Kaydet</button>
            <a asp-area="Admin" asp-controller="Users" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Sil</a>
        </div>
        <div class="col-3">
           <h3>Roller</h3>
           @foreach (var role in Model.Roles)
            {
                <div class="form-check">
                    <input 
                        class="form-check-input" 
                        type="checkbox" 
                        name="SelectedRoles" 
                        value="@role.Name" @if(Model.SelectedRoles!=null){
                       @(Model.SelectedRoles.Any(sr=>sr==role.Name) ? "checked" : "")
                       }>
                    <label class="form-check-label">@role.Name</label>
                </div>
            }
            <span class="text-danger" asp-validation-for="SelectedRoles"></span>
        </div>
    </div>

</form>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}

